.main-content {
  width: 800px;
}

.condition {
  border-collapse: collapse;
}

.condition tr{
  border-bottom: solid 2px white;
}

.condition tr:last-child{
  border-bottom: none;
}

.condition th{
  position: relative;
  text-align: left;
  background-color: #005baa;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 51px;
}

.condition th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #005baa;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.condition td{
  text-align: left;
  background-color: #eee;
  padding: 10px 5px 10px 15px;
}

.condition .select {
  height: 30px;
}

.header-title {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #87ceeb;
  margin-bottom: 1rem;
}
  
.header-title:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 120px;
  height: 120px;
}
 
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  -webkit-animation: spinner_loading 1.5s infinite linear forwards;
          animation: spinner_loading 1.5s infinite linear forwards;
}

.spinner.type1 span {
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

.spinner_box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease;
          transition: all 1.2s ease;
  color: #fff;
  background-color: #333;
}

.spinner_box.loaded{
  animation: spinner_loaded 0.5s 1 linear forwards;
  pointer-events:none;
}
   
@keyframes spinner_loading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
   
@keyframes spinner_loaded {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
    visibility:hidden;
  }
}

.modal_wrap input {
  display: none;
}

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_content {
  align-self: center;
  width: 60%;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
}

.modal_content p {
  padding-top: 0;
}

.close_button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_overlay .modal_content {
  transform: translateY(20px);
}

.modal_title {
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top:0;
  margin-bottom: 0;
}

.modal-message {
  margin-top:15px;
  min-height: 50px;
  text-align: center;
}

.modal-okcancel {
  width:250px;
}

.modal-ok {
  width:125px;
}

.modal-ok {
  width:100px;
}

.modal-cancel {
  width:100px;
}

.modal_title::before,
.modal_title::after{
  content: "";
  position: absolute;
  bottom: 0;
}

.modal_title:before{
  border-bottom: 4px solid #6bb6ff;
  width: 100%;
}

.modal_title:after{
  border-bottom: 4px solid #c8e4ff;
  width: 100%;
}